<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.coffeebase">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/coffeebean"
            android:label="@string/app_name"
            android:networkSecurityConfig="@xml/network_security_config"
            android:roundIcon="@mipmap/coffeebean"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true">
        <activity
                android:name=".AddCoffee">
        </activity>
        <activity android:name=".EditCoffee"
                  android:label="EditCoffee">

        </activity>
        <activity
                android:name=".Favourites"
                android:label="Favourites">
        </activity>
        <activity
                android:name=".CoffeeActivity">
        </activity>
        <activity
                android:name=".MyCoffeeBase"
                android:label="My Coffee Base">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>