<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission
            android:name="android.permission.WRITE_EXTERNAL_STORAGE"
            android:maxSdkVersion="32"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/coffeebean"
            android:label="@string/app_name"
            android:requestLegacyExternalStorage="true"
            android:roundIcon="@mipmap/coffeebean"
            android:supportsRtl="true"
            android:theme="@style/Theme.CoffeeBase"
            android:usesCleartextTraffic="true">

        <activity
                android:name=".ui.SettingsActivity"
                android:exported="false"
                android:label="@string/title_activity_settings"
                android:theme="@style/Theme.CoffeeBase"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.utility.PourOverCardView"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.AddBrewActivity"
                android:exported="false"
                android:label="@string/title_activity_edit_brew"
                android:theme="@style/Theme.CoffeeBase"
                android:screenOrientation="portrait"
                android:windowSoftInputMode="adjustPan"/>
        <activity
                android:name=".ui.BrewActivity"
                android:exported="false"
                android:label="@string/title_activity_brew"
                android:theme="@style/Theme.CoffeeBase"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.utility.BrewCardView"
                android:exported="false"
                android:label="@string/title_activity_brew_card_view"
                android:theme="@style/Theme.CoffeeBase"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.AccountActivity"
                android:exported="false"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.LoginActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".ui.EditCoffee"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.CoffeeActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:screenOrientation="portrait"/>
        <activity
                android:name=".ui.utility.CoffeeCardView"
                android:exported="true"/>
        <activity
                android:name=".ui.MainActivity"
                android:configChanges="orientation|keyboardHidden"
                android:exported="true"
                android:screenOrientation="portrait"/>
    </application>

</manifest>
